
part1/.idea/

part2/.idea/

part2/node_modules/

part3/.idea/

part3/bin/

part3/node_modules/

part4/.idea/

part4/bin/

part4/node_modules/

part5/.idea/

part5/bin/

part5/node_modules/

*.zip
part6/.idea/

part6/node_modules/

part7/.idea/

part7/node_modules/

part1/as/
