<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <% if (title) { %>
    <title><%= title; %></title>
    <% } %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/stylesheets/style.css" type="text/css" rel="stylesheet" />
</head>
<body>