<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BEER.logger login page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="stylesheets/style.css" type="text/css" rel="stylesheet" />
    <script src="../routes/auth.js"></script>
    <script src="../routes/beers.js"></script>
</head>
<body>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-auto mt-5 app-login pb-4">
                    <h1 class="app-title">BEER.logger</h1>
                    <form>
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="email" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Enter username">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Password">
                        </div>
                        <a href="beers"><button type="button" class="btn btn-lg btn-primary btn-block">Sign in</button></a>
                        <a href="registration"><button  type="button" class="mt-3 btn btn-light btn-lg btn-block">Registration</button></a>
                    </form>
                </div>
            </div>
        </div>

        <!-- <a href="https://www.freepik.com/free-photos-vectors/background">Background vector created by lyolya_profitrolya - www.freepik.com</a> -->

    <script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/bootstrap.bundle.min.js"></script>
</body>
</html>