<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BEER.logger registration page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="stylesheets/style.css" type="text/css" rel="stylesheet" />
</head>
<body>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-auto mt-5 app-login pb-4">
                    <h1 class="app-title">BEER.logger</h1>
                    <form method="post" action="/registration">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="email" class="form-control" name="username" id="username" aria-describedby="emailHelp" placeholder="Enter username">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="re-password">Password</label>
                            <input type="password" class="form-control" name="re-password" id="re-password" placeholder="Password again">
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Registration</button>
                    </form>
                </div>
            </div>
        </div>

        <!-- <a href="https://www.freepik.com/free-photos-vectors/background">Background vector created by lyolya_profitrolya - www.freepik.com</a> -->

    <script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/bootstrap.bundle.min.js"></script>
</body>
</html>